@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  box-sizing: border-box;
}

.error {
  color: red;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
}

.success {
  color: green;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
}